$color-background: #EDF2EC;
$color-bg-darken: #D9D9D9;
$color-light: #ffffff;
$color-links: #010201;
$color-bg-active: #C1E698;
$color-bg-active-darken: #8BA07E;
$color-main-text: #636060;
$color-second-text: #000000;
$color-text-caption: #717171;
$color-brand-first: #499A18;
$color-brand-second: #E06733;
$color-border: #E3E1D5;
$color-accordeon: #D6E7D2;


$content-width: 1220px;
$tablet-width: 668px;
$mobile-width: 330px;