.contacts {
  background-color: $color-background;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 53px;
  @include media-tablet {
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
  }
  @include media-mobile {
    padding-top: 25px;
  }
}

.contacts__image {
  @include media-tablet {
    order: 3;
    padding-left: 20px;
  }
  @include media-mobile {
    padding-left: 0;
  }
}

.image-woman {
  width: 400px;
  @include media-tablet {
    width: 200px;
  }
  @include media-mobile {
    width: 100px;
  }
}

.contacts__header {
  @extend %font-first;
  font-weight: 700;
  font-size: 4.0rem;
  line-height: 5.2rem;
  color: $color-brand-first;
  margin: 0;
  padding: 7px 0 0 44px;
  @include media-tablet {
    padding: 0;
  }
  @include media-mobile {
    font-size: 2.5rem;
    line-height: 3.3rem;
  }
}

.contacts__locations {
  padding-top: 95px;
  width: 450px;
  @include media-tablet {
    padding-top: 100px;
    padding-bottom: 248px;
  }
  @include media-mobile {
    width: 100%;
    padding: 80px 15px 132px 15px;
  }
}

.location__selection {
  padding: 5px 33px 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-accordeon;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  &:active {
    background-color: $color-bg-active;
    box-shadow: none;
    @extend %transition;
  }
  @include media-mobile {
    padding: 8px 23px 5px 19px;
  }
}

.legend_text {
  @extend %font-second;
  font-size: 2.0rem;
  line-height: 4.0rem;
  letter-spacing: 0.05em;
  color: $color-text-caption;
}

.legend__drop-btn {
  background: url(../assets/svg/accordion_btn_light.svg) center no-repeat;
  width: 16px;
  height: 16px;
}
