.footer {
  background-color: $color-light;
}

.footer__wrapper {
  @include columns($width: 20%);
  @extend %font-second;
  font-size: 2.0rem;
  line-height: 5.0rem;
  color: $color-second-text;
  padding: 39px 0;
}

.footer__element {
  display: flex;
  margin: 0;
  >*{
    padding-right: 20px;
    &:last-child {
      padding-right: 0;
    }
  }
  &:nth-child(2) {
    justify-content: center;
  }
  &:last-child {
    justify-content: flex-end;
    line-height: 1.0rem;
    padding-top: 7px;
  }
}

.social-link:hover {
 background-color: $color-bg-active;
}