.footer {
  background-color: $color-light;
}

.footer__wrapper {
  @include columns($width: 20%);
  @extend %font-second;
  font-size: 2.0rem;
  line-height: 5.0rem;
  color: $color-second-text;
  padding-top: 39px;
  padding-bottom: 39px;
  @include media-tablet {
    flex-direction: column;
    padding-top: 17px;
    padding-bottom: 18px;
  }
  @include media-mobile {
    padding-top: 5px;
  }
}

.footer__element {
  display: flex;
  margin: 0;
  >*{
    padding-right: 20px;
    &:last-child {
      padding-right: 0;
    }
  }
  &:nth-child(2) {
    justify-content: center;
  }
  &:last-child {
    justify-content: flex-end;
    line-height: 1.0rem;
    padding-top: 7px;
  }
  @include media-tablet {
    justify-content: center;
    &:nth-child(2) {
      line-height: 2.8rem;
    }
    &:last-child {
      justify-content: center;
      padding-top: 24px;
    }
  }
  @include media-mobile {
    &:last-child {
      padding-top: 12px;
    }
  }
}

.social-link {
  box-sizing: content-box;
  width: 32px;
  height: 32px;
}

.link_instagram {
  background: url(../assets/svg/instagram.svg) left no-repeat;
  &:hover {
    background: url(../assets/svg/instagram_hovered.svg) left no-repeat;
    @extend %transition;
  }
}

.link_facebook {
  background: url(../assets/svg/fb.svg) left no-repeat;
  &:hover {
    background: url(../assets/svg/fb_hovered.svg) left no-repeat;
    @extend %transition;
  }
}

.link_twitter {
  background: url(../assets/svg/tw.svg) left no-repeat;
  &:hover {
    background: url(../assets/svg/tw_hovered.svg) left no-repeat;
    @extend %transition;
  }
}

.link_pinterest {
  background: url(../assets/svg/pinterest.svg) left no-repeat;
  &:hover {
    background: url(../assets/svg/pinterest_hovered.svg) left no-repeat;
    @extend %transition;
  }
}

.footer__link {
  display: block;
  width: 32px;
  height: 32px;
}
