.header {
  background-color: $color-background;
}

.header__wrapper {
    @include columns($width: 50%);
    padding-top: 42px;
    padding-bottom: 42px;
    @include media-tablet {
      @include columns($width: 15%);
      padding-top: 35px;
      padding-bottom: 35px;
    }
}

.header__nav {
  @include media-mobile {
    display: none;
  }
}

.navigation {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.navigation__item {
  padding-left: 46px;
  white-space: nowrap;
}

.logo {
  display: flex;
  align-items:center;
  
}

.link {
  @extend %font-first;
  font-size: 1.6rem;
  text-decoration: none;
  &:hover {
      color: $color-brand-second;
      @extend %transition;
    }
}

.nav__link {
  color: $color-links;
  line-height: 5.0rem;
}

.nav__link_active {
  color: $color-brand-second;
}

.logo__icon {
  padding-bottom: 7px;
}

.logo__link {
  color: $color-second-text;
  line-height: 2.1rem;
}