.prices {
  background-color: $color-light;
}

.prices__wrapper {
  @include columns($width: 40%);
  @extend %font-second;
  font-weight: 700;
  color: $color-second-text;
  @include media-mobile {
    @include columns ($width: 100%);
  }
}

.prices__header-first {
  font-size: 4.0rem;
  line-height: 4.8rem;
  margin: 40px 0 60px 0;
  @include media-tablet {
    font-size: 3.5rem;
    line-height: 4.2rem;
    margin: 40px 0 55px 0;
    padding-left: 15px;
  }
  @include media-mobile {
    text-align: center;
    font-size: 2.5rem;
    line-height: 3.0rem;
    margin: 25px 0 37px 0;
    padding-left: 0;
  }
}

.prices__variants {
  width: 332px;
  border: 1px solid $color-border;
  border-radius: 20px;
  padding: 34px 41px;
  @include media-mobile {
    width: 224px;
    margin: 0 auto;
    padding: 27px 22px;
  }
}

.variant {
  @include columns($width: 15%);
  font-size: 2.0rem;
  line-height: 2.0rem;
  padding: 15px 40px;
  background-color: $color-background;
  border-radius: 20px;
  margin-bottom: 32px;
  &:last-child{
    margin-bottom: 0;
  }
  &:hover {
    background-color: $color-accordeon;
    @extend %transition;
  }
  @include media-mobile {
    font-size: 1.5rem;
    line-height: 2.0rem;
    padding: 15px 40px 15px 30px;
    margin-bottom: 14px;
      &:last-child {
        margin-bottom: 0;
      }
  }
}

.variant__text {
  flex-grow: 1;
}

.variant__drop-btn {
  background: url(../assets/svg/accordion_btn.svg) right no-repeat;
  cursor: pointer;
}

.prices__contact-us {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.prices__header-second {
  font-size: 4.0rem;
  line-height: 5.0rem;
  text-align: right;
  margin: 40px 0 38px 0;
  span{
    color: $color-brand-first;
  }
  @include media-tablet {
    width: 296px;
    margin: 140px 0 27px 0;
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
  @include media-mobile {
    width: 230px;
    margin: 20px auto 20px auto;
    font-size: 2.0rem;
    text-align: center;
  }
}

.prices__button {
  @extend %font-first;
  font-weight: 700;
  font-size: 2.0rem;
  line-height: 2.6rem;
  text-align: center;
  background-color: transparent;
  color: $color-brand-second;
  border: 1px solid $color-brand-second;
  border-radius: 5px;
  padding: 12px 32px;
  &:hover {
    background-color: $color-brand-second;
    color: $color-light;
    @extend %transition;
  }
  @include media-mobile {
    font-size: 1.5rem;
    line-height: 2.0rem;
    padding: 6px 24px;
    margin: 0 auto 40px auto;
  }
}

.prices__image {
  margin: 35px 0 114px 10px;
  @include media-tablet {
    margin: 30px 0 87px 10px;
  }
  @include media-mobile {
    display: none;
  }
}

