.service {
  background-color: $color-background;
}

.service__description {
  @include columns($width: 33.3%);
  @extend %font-first;
  padding: 40px 0 80px 0;
  @include media-tablet {
    @include columns($width: 100%);
    padding: 60px 0 40px 0;
  }
  @include media-mobile {
    padding: 30px 0 30px 0;
  }
}

.service__header {
  font-weight: 400;
  font-size: 4.0rem;
  line-height: 5.2rem;
  color: $color-brand-first;
  margin: 0;
  @include media-tablet {
    padding-right: 362px;
    padding-bottom: 42px;
    font-size: 3.5rem;
    line-height: 4.6rem;
  }
  @include media-mobile {
    padding-right: 140px;
    padding-bottom: 36px;
    font-size: 2.5rem;
    line-height: 3.3rem;
  }
}

.service__tags {
  flex-grow: 1;
  @include columns($width: 20.9%);
  justify-content: flex-start;
  align-items: center;
  padding-left: 40px;
  >* {
    margin-right: 38px;
  }
  @include media-tablet {
    @include columns($width: 24%);
    justify-content: flex-start;
    padding-left: 0;
    >* {
      margin-right: 38px;
    }
  }
  @include media-mobile {
    @include columns($width: 36.7%);
    justify-content: flex-start;
    >* {
      margin-right: 10px;
      margin-bottom: 9px;
    }
  }
}

.tag {
  display: flex;
  justify-content: center;
  font-size: 2.0rem;
  line-height: 2.6rem;
  color: $color-brand-second;
  background-color: transparent;
  border: 1px solid $color-brand-second;
  border-radius: 5px;
  padding: 11px;
  @extend %transition;
  // &:hover {
  //   background-color: $color-brand-second;
  //   color: $color-light;
  //   @extend %transition;
  // }
  @include media-mobile {
    padding: 7px;
    font-size: 1.5rem;
    line-height: 2.0rem;
  }
}

.tag_active {
  background-color: $color-brand-second;
  color: $color-light;
  @extend %transition;
}

.service__gallery {
  @include columns($width: 27%);
  @include media-tablet {
    @include columns($width: 42%);
  }
  @include media-mobile {
    @include columns($width: 100%);
    padding: 0 25px;
  }
}

.gallery__item {
  display: inline-block;
  height: 450px;
  border: 1px solid $color-border;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 0 55px 0;
  &:nth-child(6) {
    margin-bottom: 121px;
  }
  @include media-tablet {
  margin: 0 0 38px 0;
    &:nth-child(6) {
      margin-bottom: 70px;
    }
  }
  @include media-mobile {
    margin: 0 0 34px 0;
    &:nth-child(6) {
      margin-bottom: 28px;
    }
  }
}

.gallery__caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  @extend %font-second;
}

.gallery__header {
  margin: 10px 0 14px 0;
  font-weight: 700;
  font-size: 2.0rem;
  line-height: 2.0rem;
  color: $color-brand-second;
  @include media-tablet {
    margin: 6px 0 12px 0;
  }
}

.gallery__text {
  font-size: 1.6rem;
  line-height: 2.0rem;
  color: $color-text-caption;
  margin: 0;
  @include media-tablet {
    padding: 0 38px;
    text-align: center;
  }
}

.item_blured {
  filter: blur(4px);
  @extend %transition;
}